@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Quicksand:wght@500&display=swap');
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font: 1.6rem Verdana;
  height: 100vh;
  margin: 0;
  background-image:linear-gradient( #c0b0a8d0,white);
  /* overflow: hidden; */
}
#root {
  height: 100%;
}

.container-fluid {
  border-radius: 30px;
  margin: 5vh 2vh 0vh 2vh;
  border: 1px ridge;
  padding: 20vh;
  height: 50vh; 
  background-image: url("./images/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#formLogin{
  background-color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  color:#3a1b0e;
  border: 1px inset;
  border-radius: 30px;
  width: 40%;
  margin: 1vh;
  padding: 2vh;
  text-align: center;
}
#loginLabels{
  color: #3a1b0ece;
  font-size: 15px;
  padding-bottom: 2px;
}
#inputs{
  color:grey;
  font-size: 12px;
  text-align: center;
  padding: 2%;
  width: 55%;
  border: 0.5px dotted;
  border-color: #6436c1 !important;
  border-radius: 30px;
}
#inputs:hover{
  background-color: #3a1b0e1c;
}
#passwordHelp{
  font-size: 10px;
}
#loginButton{
  color: #ffffff;
  padding: 2%;
  min-width: 60%;
  border: 1px;
  border-radius: 30px;
  background-image: linear-gradient(#6436c1,rgba(170, 149, 228, 0.89)) !important;
}
#facebookButton{
  font-size: 30px;
  margin: 1%;
  padding: 1%;
}
