html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font: 1.6rem Verdana;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(#c0b0a8d0, white);
  overflow: hidden;
}
#root {
  height: 100%;
}

.container-fluid {
  /* background-image: url("logo192.png"); */
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
