@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Quicksand:wght@500&display=swap');
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font: 1.6rem Verdana;
  height: 100vh;
  margin: 0;
  background-image:linear-gradient( #c0b0a8d0,white);
  /* overflow: hidden; */
}
#root {
  height: 100%;
}

.container-fluid {
  border-radius: 30px;
  margin: 5vh 2vh 0vh 2vh;
  border: 1px ridge;
  padding: 20vh;
  height: 50vh; 
  background-image: url("./images/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.container {
  border: 1px inset;
  border-radius: 30px;  
  background-image: linear-gradient(#e7e0e0, #ffffff);
  width: 40% !important;
  height: 50vh !important;
  padding: 1vh; 
  float: left;
  margin: 0% 1% 1% 5%;
}

#formLogin{
  font-family: 'Varela Round', sans-serif;
  color:#3a1b0e;
  text-align: center;
  margin: 1vh;
  padding: 1vh;  
}
#loginLabels{
  color: #3a1b0ece;
  font-size: 16px;
  padding-bottom: 2px;
}
#inputs{
  color:grey;
  font-size: 12px;
  text-align: center;
  padding: 2%;
  width: 55%;
  border: 0.5px dotted;
  border-color: #6436c1 !important;
  border-radius: 30px;
}
#inputs:hover{
  background-color: #3a1b0e1c;
}
#passwordHelp{
  font-size: 10px;
}
#loginButton{
  color: #ffffff;
  padding: 4%;
  min-width: 60%;
  border: 1px;
  border-radius: 30px;
  background-image: linear-gradient(#6436c1,rgba(170, 149, 228, 0.89)) !important;
}
p{
  margin-top:15%;
  font-size: 12px !important;
}
#facebookButton{
  font-size: 30px;
  margin: 3%;
  padding: 1%;
}
img {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  border-radius: 30px;
}
  